DATABASE_URL=
APP_NAME=
API_V1_PREFIX=
SECRET_KEY=
DEBUG=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
# Exemple: ALLOWED_ORIGINS='["http://localhost:7413","http://localhost:3000"]'
ALLOWED_ORIGINS=
